{% extends 'base.html' %}

{% block style %}
<style>
.table td:nth-child(1), .table th:nth-child(1) {
    display:none
}
</style>
{% endblock %}

{% block scripts %}
    <script src="../static/sort_tables.js"></script>
{% endblock %}

{% block content %}
    <h1>Update Animal Data</h1>


<form action="" method="post" name="edit">
    {{ form.hidden_tag() }}

    <p>
        Primary Tag
        {{ form.primary_tag(size=15) }}
        {% if 'primary_tag' in form.errors %}
        <p style="color: red">This Field is required</p>
        {% endif %}
    </p>
    <p>
        Birth Date
        {{ form.birth_date }}
        {% if 'birth_date' in form.errors %}
            <p style="color: red">This field is required</p>
        {% endif %}
    </p>
    <p>
        Birth Weight
        {{ form.birth_weight }}
        {% if 'birth_weight' in form.errors %}
            <p style="color: red">This field is required</p>
        {% endif %}
    </p>
<p>
    Dam
    {{ form.dam }}
</p>
<p>
    Sire
    {{ form.sire }}
</p>
<p>
    Sex
    {{ form.sex }}
</p>

    {{ form.submit }}


</form>

    <a href="/delete_animal/{{ animal }}">Delete Animal</a>

    <p>{{ form.primary_tag.data }} is {{ age }} days old.</p>
<h1>Animal Weights</h1>

    {% if adjusted_weight  %}
        <p>{{ form.primary_tag.data }}'s adjusted 205 day weight is {{ adjusted_weight }}</p>
    {% endif %}

    {{ weights_table }}


<h3>Add a new Weight for this animal.</h3>
    <form action="{{ url_for('add_weight') }}" method="post" name="">
    {{ weight_form.hidden_tag() }}

        <p>Date {{ weight_form.date }}</p>
        <p>Weight {{ weight_form.weight }}</p>
        <p>This is the weaning weight {{ weight_form.weaning }}</p>

        {% if weight_form.errors %}
            <p style="color:red">Both Weight and Date Fields need to be filled out</p>
        {% endif %}
    {{ weight_form.submit }}
    </form>

{% endblock %}
