{% extends 'base.html' %}

{% block style %}
<style>
.table td:nth-child(1), .table th:nth-child(1) {
    display:none
}
</style>
{% endblock %}

{% block scripts %}
    <script src="../static/sort_tables.js"></script>
{% endblock %}

{% block content %}
<h1>Update Animal Data</h1>


<form action="" method="post" name="edit" class="form form-horizontal">
	{{ form.hidden_tag() }}

	<div class="form-group">
		<label class="col-sm-2 col-form-label">Primary Tag</label>
		<div class="col-sm-10">
			{{ form.primary_tag(size=15, class="form-control") }}
		</div>
		{% if 'primary_tag' in form.errors %}
		<p style="color: red">This Field is required</p>
		{% endif %}

		<label class="col-sm-2 col-form-label">Birth Date</label>
		<div class="col-sm-10">
			{{ form.birth_date(class="form-control") }}
		</div>
		{% if 'birth_date' in form.errors %}
		<p style="color: red">This field is required</p>
		{% endif %}

		<label class="col-sm-2 col-form-label">Birth Weight</label>
		<div class="col-sm-10">
			{{ form.birth_weight(class="form-control") }}
		</div>
		{% if 'birth_weight' in form.errors %}
		<p style="color: red">This field is required</p>
		{% endif %}
	</div>

	<div class="form-group">
		<label class="col-sm-2 col-form-label">Dam</label>
		<div class="col-sm-10">
			{{ form.dam(class="form-control") }}
		</div>
		<label class="col-sm-2 col-form-label">Sire</label>
		<div class="col-sm-10">
			{{ form.sire(class="form-control") }}
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 col-form-label">Sex</label>
		<div class="col-sm-10">
			{{ form.sex(class="form-control") }}
		</div>
	</div>

	{{ form.submit(class="btn btn-primary") }}
</form>

<div class="container">
    <a href="/delete_animal/{{ animal }}" class="btn btn-danger" role="button">Delete Animal</a>

    <p>{{ form.primary_tag.data }} is {{ age }} days old.</p>
</div>

<h1>Weights</h1>

    {% if adjusted_weight  %}
        <p>{{ form.primary_tag.data }}'s adjusted 205 day weight is {{ adjusted_weight }}</p>
    {% endif %}

    {{ weights_table }}


<h3>Add a new Weight.</h3>
    <form action="{{ url_for('add_weight') }}" method="post" name="" class="form">
    {{ weight_form.hidden_tag() }}

    <div class="form-group row">
	    <label for="weight-input-date" class="col-sm-2 col-form-label">Date</label>
	    <div class="col-sm-10">
		    {{ weight_form.date(class="form-control", id="weight-input-date", type="date") }}
	    </div>
    </div>

    <div class="form-group row">
	    <label for="weight-input-weight" class="col-sm-2 col-form-label">Weight</label>
	    <div class="col-sm-10">
		    {{ weight_form.weight(class="form-control", id="weight-input-weight") }}
	    </div>
    </div>

    <div class="form-group row">
	    <label for="weight-input-weaning" class="col-sm-2 col-form-label">This is the weaning weight</label>
	    <div class="col-sm-10">
		    {{ weight_form.weaning(class="form-check-input", id="weight-input-weaning") }}
	    </div>
    </div>

        {% if weight_form.errors %}
            <p style="color:red">Both Weight and Date Fields need to be filled out</p>
        {% endif %}
    {{ weight_form.submit(class="btn btn-primary") }}
    </form>

<h1>Medicine</h1>

    {{ medicine_table }}

    <h3>Add a medicine.</h3>
    <form action="{{  url_for('add_medicine') }}" method="post" name="" class="form">
    {{ medicine_form.hidden_tag() }}

    <div class="form-group">
	    <label class="col-sm-2 col-form-control">Name</label>
	    <div class="col-sm-10">
		    {{ medicine_form.name(class="form-control") }}
	    </div>
    </div>

    <div class="form-group">
	    <label class="col-sm-2 col-form-control">Date</label>
	    <div class="col-sm-10">
		    {{ medicine_form.date(class="form-control") }}
	    </div>
    </div>

    <div class="form-group">
	    <label class="col-sm-2 col-form-control">Dose</label>
	    <div class="col-sm-10">
		    {{ medicine_form.dose(class="form-control") }}
	    </div>
    </div>

    <div class="form-group">
	    <label class="col-sm-2 col-form-control">Unit</label>
	    <div class="col-sm-10">
		    {{ medicine_form.unit(class="form-control") }}
	    </div>
    </div>

        {% if medicine_form.errors %}
            <p style="color:red">All fields are required</p>
        {% endif %}

    {{ medicine_form.submit(class="btn btn-primary") }}
    </form>

{% endblock %}
