{% extends "base.html" %}

{% block style %}
    <style>
.table td:nth-child(1), .table th:nth-child(1) {
display:none
}
</style>
{% endblock %}

{% block scripts %}
<script src="/static/sort_tables.js"></script>
{% endblock %}


{% block content %}
<form action="" method="post" name="">
	{{ search_from.hidden_tag() }}
	{{ search_from.search_text }}{{ search_from.submit }}
</form>

<div>
{{ table }}
</div>

{% if animals.has_prev %}<a href="{{ url_for('index', page=animals.prev_num) }}">Previous Page</a>{% else %}Previous Page{% endif %} |
{% if animals.has_next %}<a href="{{ url_for('index', page=animals.next_num) }}">Next Page</a>{% else %}Next Page{% endif %}

{% endblock %}
