{% extends 'base.html' %}

{% block content %}
<form action="" method="post" name="" class="form">
	<h1>Register</h1>
	{{ register_form.hidden_tag() }}
	<label class="sr-only">Email Address</label>
		{{ register_form.email(class="form-control", placeholder="Email Address (optional)") }}
	<label class="sr-only">Username</label>
		{{ register_form.username(class="form-control", placeholder="Username") }}
	<label class="sr-only">Password</label>
		{{ register_form.password(class="form-control", placeholder="Password") }}

	{{ register_form.submit(class="btn btn-lg btn-primary") }}
</form>
{% endblock %}
